﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    /*background: #b6b7bc;*/
    background: none;
    font-size: .80em;
    /*font-family:  "Verdana, Arial, Helvetica";*/
    font-family: Verdana, Arial, Helvetica;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, .myH3
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3, .myH3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    /*width: 960px;*/
    /*width: 1170px;*/
    /*width: 1440px;*/
    background-color: #fff;
    /*margin: 20px auto 0px auto;*/
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

/*THIS fixes NON-JAVASCRIPT menu*/
img[alt='Skip Navigation Links'] 
{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    /*THIS fixes NON-JAVASCRIPT menu*/
    height: 27px;
}

div.menu li 
{
    float: left;    
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 120px;
  height: 12px;
}

progress::-webkit-progress-bar
{
    background-color: #eee;

    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value
{
    background-color: #4AA02C;

    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* GRID */
.mGrid {   
    width: 100%;   
    background-color: #fff;   
    margin: 5px 0 10px 0;   
    /*border: solid 1px #525252;*/
    border-collapse:collapse;
    text-align: center;
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #c1c1c1;   
    /*color: #717171;*/
    color: black;
   /* text-align: center */
}  
.mGrid th {     
    padding: 4px 2px;   
    color: #fff;   
    background: #424242 url(grd_head.png) repeat-x top;
    border-left: solid 1px #525252;
    font-size: 0.9em;   
}   
.mGrid th.noShow {
    background: none;
    border-left: none;
}

.mGrid th.secondHeader {
    border-left-color: white;
}

.maxWidthGrid {
    max-width: 300px;
    overflow: hidden;
    text-align: center;
}

.noWrapCell {
    white-space: nowrap;
}

.mGrid .gridAltRow { background: #fcfcfc url(grd_alt.png) repeat-x top; } 
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }  
.mGrid .pgr table { margin: 5px 0; }  
.mGrid .pgr td {   
    border-width: 0;   
    padding: 0 6px;   
    border-left: solid 1px #666;   
    font-weight: bold;   
    color: #fff;   
    line-height: 12px;   
 }     
.mGrid .pgr a { color: #666; text-decoration: none; }  
.mGrid .pgr a:hover { color: #000; text-decoration: none; }  


.mGrid tr.gridRow:hover, .mGrid tr.gridAltRow:hover, .mGrid tr.gridRow:hover td, .mGrid tr.gridAltRow:hover td,
.mGrid tr.selectedRow:hover, .mGrid tr.changedRow:hover, .mGrid tr.attentionRow:hover, 
.mGrid tr.highAttentionRow:hover

{
    border: solid 1px #7f7f7f;
    border-collapse: collapse;
    /*background: #99BBE1 !important;
    background-color: #99BBE1 !important;*/
    background: #99BBE1;
    background-color: #99BBE1;
}

.mGrid tr.selectedRow 
{
    background: lightsalmon;
}

.mGrid tr.changedRow 
{
    background: lightgreen;
}

.mGrid tr.attentionRow 
{
    background-color: lightpink;
}

.mGrid td.attentionCell 
{
    background-color: lightpink;
}

.mGrid td.neutrallCell 
{
    background-color: lightskyblue;
}

.mGrid tr.highAttentionRow 
{
    background-color: red;
}

.mGrid td.highAttentionCell 
{
    background-color: red;
}

.mGrid div.PositiveNum {
    background-color: lightgreen;
}

.mGrid div.NegativeNum {
    background-color: lightpink;
}

/*.mGrid div.RecentDealChange {
    background-color: lightgreen;
}

.mGrid div.RecentRejectionChange {
    background-color: lightpink;
}*/

.mGrid td.RecentDealChange {
    background-color: lightgreen;
}

.mGrid td.RecentRejectionChange {
    background-color: lightpink;
}

.mGrid th.DividerCell,  .mGrid td.DividerCell {
    border: none;
    width: 0px;
    height: 1px;
    /*TODO: this is not to highlight spacers*/
    /*background: none !important;*/
}

/* AJAX toolkit */

.MyCalendar .ajax__calendar_container {
    border:1px solid #646464;
    background-color: gainsboro;
    color: red;
}

.collapsePanelTitle {
    cursor: pointer;
}


/* Integrated systems tables */

.SingleTable {
    border-collapse:collapse;
}

.SingleTable th, .SingleTable td {
    border: solid 1px #c1c1c1;
    vertical-align: bottom;
    /*width: 30px;*/
    color: black;
}

.SingleTable tr.changedRow 
{
    background: lightgreen;
}

.SingleTable td.selectedSetting 
{
    background: lightsalmon;
}

.SingleTable td.quotingInLiquidation 
{
    background: red;
}

.SingleTable td.quotingUnrestricted 
{
    background: green;
}

.SingleTable td.quotingPaidFlowLow 
{
    background: #FF00FF;
}

.SingleTable td.quotingPaidFlowHigh 
{
    background: #7EC0EE;
}

.SingleTable td {
    text-align: right;
    vertical-align: top;
    padding: 1px 2px;
}

.SingleTableMoreSpace td {
    padding: 2px 4px;
}

.SingleTable tr.FooterRow 
{
    font-weight: bold;
}

.SingleTable a {
    color: black;
}

.SingleTable td.HeaderColumn {
    padding: 2px 5px;
    font-weight: bold;
    text-align: left;
}

.SingleTable th {
    padding: 2px;
}

/* This is to solve problem of additonal 2px padding on images */
.SingleTable td img , .SingleTable .TableImageButton{
    vertical-align: top;
    text-align: center;
}

.SingleTable .TableImageButtonCentered {
    vertical-align: middle;
    text-align: center;
    font-size: 0;
    padding: 0px;
}

/* TODO - style for tds with images to align to center */

.SingleTable th.DividerCell,  .SingleTable td.DividerCell {
    border: none;
    width: 0px;
    height: 1px;
    /*this is not to highlight spacers*/
    /*background: none !important;*/
}

.SingleTable th.WideDividerCell,  .SingleTable td.WideDividerCell {
    border: none;
    width: 15px;
    height: 1px;
    /*this is not to highlight spacers*/
    background: none !important;
}

.SingleTable td.PositiveNum {
    background-color: lightgreen;
}

.SingleTable td.NegativeNum {
    background-color: lightpink;
}

.SingleTable td.RecentDealChange {
    background-color: lightgreen;
}

.SingleTable td.RecentRejectionChange {
    background-color: lightpink;
}

.SingleTable td.ActiveSystem {
    background-color: red;
    font-weight: bold;
    color: white;
}

.SingleTable tbody tr:hover td
{
    /*border: solid 1px #7f7f7f;*/
    border-collapse: collapse;
    /*background: #99BBE1;*/
    background-color: #99BBE1;
}

.SingleTable tr.noHighlight td {
    background: none !important;
}

.SingleTable td.Symbol {
    text-align: left; 
    font-weight: bold;
    /*Doesn't work - we set color on linkbutton itself*/
    /*color: black !important;*/
    background: none !important;
}

.EnclosingTable {
    /*border-spacing: 10px;*/
    /*padding: 50px;*/
    margin-left: auto;
    margin-right: auto;
    empty-cells: hide;
}

.EnclosingTable td {
    /*padding: 5px;*/
    vertical-align: top;
}

.SymbolBox, .SymbolBox a:link, .SymbolBox a:active, .SymbolBox a:visited {
    border:solid 1px #c1c1c1; 
    margin: 5px 5px 0px 0px; 
    padding: 1px 2px;
    font-weight: bold;
    color: black !important;
    display: inline-block;
}

.InsertPanel {
    background-color: white;
    z-index: 11;
    padding: 20px;
    border: solid 1px black; 
    color: black;
    position: relative;
    margin: 0px !important;
}

.SingleTable input[type=text], .InsertPanel input[type=text] {
    width: 50px;
}

div.fadeMe {
  opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}

.centeredErrorPanel {
    width: 800px;
    height: 150px;
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -75px;
    border-radius: 25px;
    border: 2px solid red;
    padding: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    z-index: 100;
    color: red;
}

.linkInCenteredErrorPanel {
    margin-top: 75px;
    text-align: right;
}


/* -------- GROUPS page -----------  */

.TradingGroupsTable {
    border-collapse:collapse;
    border: 1px solid #000;
    width: 100%;
    color: black;
}

.TradingGroupsTable > tbody > tr > td {
    border:none;
    padding: 1px 8px;
}

.TradingGroupsTable > tbody > tr > td.ActionLinks {
    text-align: right;
}

.TradingGroupsTable > tbody > tr > td.ActionLinks a {
    color: white;
}

.TradingGroupsTable > tbody > tr:first-child {
    border-bottom: 1px solid #000;
    background-color: rgba(75, 108, 157, 1);
}

.TradingGroupsTable a {
    color: black;
}

.SingleTable thead tr.AboveHeaderRow {
    text-align: left;
    padding: 5px 5px;
}

.SingleTable thead tr.AboveHeaderRow th {
    border: none ;
    padding: 4px 10px 2px 10px;

    font-size: 1.6em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 700;
    margin-bottom: 0px;
}

.SystemsHompegeHeader {
    font-size: 1.6em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 700;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/*--------------- Rotation ------------------*/

.rotated-text {
            display: inline-block;
            overflow: hidden;
            /*Change both to 1.1 or more for more horizontal padding*/
            width: 1.0em;
            line-height: 0.9;
        }

.rotated-text__inner {
    display: inline-block;
    white-space: nowrap;
    transform: translate(0,100%) rotate(-90deg);
    transform-origin: 0 0;
}

.rotated-text__inner:after {
    content: "";
    float: left;
    margin-top: 100%;
}

/*--------------- END of Rotation ------------------*/