﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="InsertEditSystem.aspx.cs" Inherits="KGTKillSwitchWeb.InsertEditSystem" %>
<%@ Import Namespace="KGTKillSwitchWeb" %>
<%@ Register Src="~/SystemDetailsStripsGrid.ascx" TagPrefix="uc1" TagName="VenueSettingsWithPnl" %>
<%@ Register TagPrefix="ajaxToolkit" Namespace="AjaxControlToolkit" Assembly="AjaxControlToolkit, Version=4.1.7.1213, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title><%= Utils.GetUatPrefix(Session) + Utils.GetGroupName(Request) + " : " + Request.QueryString["TradingSystemType"] + " " + Request.QueryString["VenueCounterparty"]%></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <form id="form1" runat="server"  autocomplete="off">
    <div>
        PLACEHOLDER
        
    </div>
    </form>
</body>
</html>
