﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RotatedText.ascx.cs" Inherits="KGTKillSwitchWeb.RotatedText" %>

<span class="rotated-text">
    <span class="rotated-text__inner"><%=this.Value%></span>
</span>