﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SystemDetailsStrip.ascx.cs" Inherits="KGTKillSwitchWeb.SystemDetailsStrip" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="KGTKillSwitchWeb" %>
<%@ Register TagPrefix="uc1" Namespace="WebControls" Assembly="WebControls" %>
<%@ Register Src="~/RotatedText.ascx" TagPrefix="uc1" TagName="RotatedText" %>




PLACEHOLDER